[Multiple Linear Regression Using Python and Scikit-learn](https://www.analyticsvidhya.com/blog/2021/05/multiple-linear-regression-using-python-and-scikit-learn/)

#### Reading dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('50_Startups.csv')
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

#### Independent and Dependent variables

In [3]:
#separate the other attributes from the predicting attribute
x = df.drop('Profit',axis=1)
#separte the predicting attribute into Y for model training 
y = df['Profit']

In [4]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [5]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

#### Handling categorical variables

In [6]:
# handle categorical variable
states=pd.get_dummies(x)
# dropping extra column
states= states.drop('R&D Spend', axis=1)
states= states.drop('Administration', axis=1)
states= states.drop('Marketing Spend', axis=1)
states

    State_California  State_Florida  State_New York
0                  0              0               1
1                  1              0               0
2                  0              1               0
3                  0              0               1
4                  0              1               0
5                  0              0               1
6                  1              0               0
7                  0              1               0
8                  0              0               1
9                  1              0               0
10                 0              1               0
11                 1              0               0
12                 0              1               0
13                 1              0               0
14                 0              1               0
15                 0              0               1
16                 1              0               0
17                 0              0               1
18                 0              1               0
19                 0              0               1
20                 1              0               0
21                 0              0               1
22                 0              1               0
23                 0              1               0
24                 0              0               1
25                 1              0               0
26                 0              1               0
27                 0              0               1
28                 0              1               0
29                 0              0               1
30                 0              1               0
31                 0              0               1
32                 1              0               0
33                 0              1               0
34                 1              0               0
35                 0              0               1
36                 0              1               0
37                 1              0               0
38                 0              0               1
39                 1              0               0
40                 1              0               0
41                 0              1               0
42                 1              0               0
43                 0              0               1
44                 1              0               0
45                 0              0               1
46                 0              1               0
47                 1              0               0
48                 0              0               1
49                 1              0               0

#### Independent and Dependent variables

In [7]:
# dropping extra column
x= x.drop('State', axis=1)

In [8]:
# concatation of independent variables and new cateorical variable.
x=pd.concat([x, states], axis=1)
x

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0
5,131876.90,99814.71,362861.36,0,0,1
6,134615.46,147198.87,127716.82,1,0,0
7,130298.13,145530.06,323876.68,0,1,0
8,120542.52,148718.95,311613.29,0,0,1
9,123334.88,108679.17,304981.62,1,0,0
10,101913.08,110594.11,229160.95,0,1,0
11,100671.96,91790.61,249744.55,1,0,0
12,93863.75,127320.38,249839.44,0,1,0
13,91992.39,135495.07,252664.93,1,0,0
14,119943.24,156547.42,256512.92,0,1,0
15,114523.61,122616.84,261776.23,0,0,1
16,78013.11,121597.55,264346.06,1,0,0
17,94657.16,145077.58,282574.31,0,0,1
18,91749.16,114175.79,294919.57,0,1,0
19,86419.70,153514.11,0.00,0,0,1
20,76253.86,113867.30,298664.47,1,0,0
21,78389.47,153773.43,299737.29,0,0,1
22,73994.56,122782.75,303319.26,0,1,0
23,67532.53,105751.03,304768.73,0,1,0
24,77044.01,99281.34,140574.81,0,0,1
25,64664.71,139553.16,137962.62,1,0,0
26,75328.87,144135.98,134050.07,0,1,0
27,72107.60,127864.55,353183.81,0,0,1
28,66051.52,182645.56,118148.20,0,1,0
29,65605.48,153032.06,107138.38,0,0,1
30,61994.48,115641.28,91131.24,0,1,0
31,61136.38,152701.92,88218.23,0,0,1
32,63408.86,129219.61,46085.25,1,0,0
33,55493.95,103057.49,214634.81,0,1,0
34,46426.07,157693.92,210797.67,1,0,0
35,46014.02,85047.44,205517.64,0,0,1
36,28663.76,127056.21,201126.82,0,1,0
37,44069.95,51283.14,197029.42,1,0,0
38,20229.59,65947.93,185265.10,0,0,1
39,38558.51,82982.09,174999.30,1,0,0
40,28754.33,118546.05,172795.67,1,0,0
41,27892.92,84710.77,164470.71,0,1,0
42,23640.93,96189.63,148001.11,1,0,0
43,15505.73,127382.30,35534.17,0,0,1
44,22177.74,154806.14,28334.72,1,0,0
45,1000.23,124153.04,1903.93,0,0,1
46,1315.46,115816.21,297114.46,0,1,0
47,0.00,135426.92,0.00,1,0,0
48,542.05,51743.15,0.00,0,0,1
49,0.00,116983.80,45173.06,1,0,0

#### Splitting Data

In [9]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

#### Applying model

In [10]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train, y_train)

LinearRegression()

In [11]:
y_prediction = LR.predict(x_test)
y_prediction

array([126362.87908255,  84608.45383633,  99677.49425146,  46357.46068582,
       128750.48288505,  50912.41741878, 109741.35032702, 100643.24281647,
        97599.27574593, 113097.42524431])

#### r2_score

In [12]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print('r2 socre is ',score)
print('mean_sqrd_error is==', mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of is==', np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.8987266414329448
mean_sqrd_error is== 82010363.04423538
root_mean_squared error of is== 9055.957323454842