In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [3]:
na_vals = ['NA', 'Missing']
df = pd.read_csv('data/survey_results_public.csv', index_col='ResponseId', na_values=na_vals)

In [4]:
df

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [5]:
df.shape

(83439, 47)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83439 entries, 1 to 83439
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    83439 non-null  object
 1   Employment                    83323 non-null  object
 2   Country                       83439 non-null  object
 3   US_State                      14920 non-null  object
 4   UK_Country                    4418 non-null   object
 5   EdLevel                       83126 non-null  object
 6   Age1stCode                    83243 non-null  object
 7   LearnCode                     82963 non-null  object
 8   YearsCode                     81641 non-null  object
 9   YearsCodePro                  61216 non-null  object
 10  DevType                       66484 non-null  object
 11  OrgSize                       60726 non-null  object
 12  Currency                      61080 non-null  object
 13  CompTotal                     47183 non-null  float64
 14  CompFreq                      52150 non-null  object
 15  LanguageHaveWorkedWith        82357 non-null  object
 16  LanguageWantToWorkWith        76821 non-null  object
 17  DatabaseHaveWorkedWith        69546 non-null  object
 18  DatabaseWantToWorkWith        58299 non-null  object
 19  PlatformHaveWorkedWith        52135 non-null  object
 20  PlatformWantToWorkWith        41619 non-null  object
 21  WebframeHaveWorkedWith        61707 non-null  object
 22  WebframeWantToWorkWith        52095 non-null  object
 23  MiscTechHaveWorkedWith        47055 non-null  object
 24  MiscTechWantToWorkWith        38021 non-null  object
 25  ToolsTechHaveWorkedWith       72537 non-null  object
 26  ToolsTechWantToWorkWith       65480 non-null  object
 27  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 28  NEWCollabToolsWantToWorkWith  73022 non-null  object
 29  OpSys                         83294 non-null  object
 30  NEWStuck                      83052 non-null  object
 31  NEWSOSites                    83171 non-null  object
 32  SOVisitFreq                   82413 non-null  object
 33  SOAccount                     82525 non-null  object
 34  SOPartFreq                    67553 non-null  object
 35  SOComm                        82319 non-null  object
 36  NEWOtherComms                 82828 non-null  object
 37  Age                           82407 non-null  object
 38  Gender                        82286 non-null  object
 39  Trans                         80678 non-null  object
 40  Sexuality                     73366 non-null  object
 41  Ethnicity                     79464 non-null  object
 42  Accessibility                 77603 non-null  object
 43  MentalHealth                  76920 non-null  object
 44  SurveyLength                  81711 non-null  object
 45  SurveyEase                    81948 non-null  object
 46  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), object(45)
memory usage: 30.6+ MB

In [7]:
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='qname')

In [8]:
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Age,QID127,What is your age?,False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR

In [9]:
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [10]:
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [11]:
df['Employment']

ResponseId
1        Independent contractor, freelancer, or self-em...
2                                       Student, full-time
3                                       Student, full-time
4                                       Employed full-time
5        Independent contractor, freelancer, or self-em...
                               ...
83435                                   Employed full-time
83436    Independent contractor, freelancer, or self-em...
83437                                   Employed full-time
83438                                   Employed full-time
83439                                   Employed full-time
Name: Employment, Length: 83439, dtype: object

In [12]:
df.loc[0:10, 'Employment':'EdLevel']

,Employment,Country,US_State,UK_Country,EdLevel
ResponseId,,,,,
1,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G..."
2,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
3,"Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
4,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
5,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
6,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
7,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G..."
8,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
9,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
10,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"

In [13]:
schema_df.loc['SOComm', 'question']

'Do you consider yourself a member of the Stack Overflow community?'

In [14]:
schema_df.sort_index(ascending=True, inplace=True)
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
Age,QID127,What is your age?,False,MC,MAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

### Filtering - Using Conditionals to Filter Rows and Columns

In [15]:
china_high_salary = (df['Country'] == 'China') & (df['CompTotal'] > 500000)

In [16]:
df.loc[china_high_salary, ['Country', 'Age1stCode', 'LearnCode', 'CompTotal']]

,Country,Age1stCode,LearnCode,CompTotal
ResponseId,,,,
11079,China,18 - 24 years,"Other online resources (ex: videos, blogs, etc...",6.000000e+05
11083,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6.400000e+05
12037,China,18 - 24 years,Coding Bootcamp;School;Books / Physical media,7.200000e+05
12133,China,5 - 10 years,"Other online resources (ex: videos, blogs, etc...",6.500000e+05
19343,China,5 - 10 years,"Other online resources (ex: videos, blogs, etc...",9.000000e+05
20465,China,35 - 44 years,"Other online resources (ex: videos, blogs, etc...",6.000000e+05
21956,China,18 - 24 years,"Other online resources (ex: videos, blogs, etc...",8.000000e+05
23535,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.500000e+06
32477,China,5 - 10 years,"Other online resources (ex: videos, blogs, etc...",6.000000e+05
36184,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.000000e+07
39627,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc)",1.000000e+06
41343,China,18 - 24 years,"Other online resources (ex: videos, blogs, etc...",7.000000e+05
41471,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7.000000e+05
41759,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.000000e+06
44510,China,25 - 34 years,Books / Physical media,1.000000e+06
44706,China,18 - 24 years,"Other online resources (ex: videos, blogs, etc...",6.000000e+05
44710,China,35 - 44 years,"Other online resources (ex: videos, blogs, etc...",3.000000e+06
49899,China,35 - 44 years,"Other online resources (ex: videos, blogs, etc...",5.500000e+05
56972,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5.740000e+05
63560,China,25 - 34 years,"Other online resources (ex: videos, blogs, etc...",8.000000e+05
64507,China,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6.000000e+05
75465,China,Younger than 5 years,Coding Bootcamp;Other online resources (ex: vi...,1.000000e+09

In [17]:
countries = ["United States of America", "China", "India", "Canada"]
filt = df["Country"].isin(countries)

In [18]:
df.loc[filt, "Country"]

ResponseId
6        United States of America
7        United States of America
9                           India
16       United States of America
18                         Canada
                   ...
83431    United States of America
83433                      Canada
83435    United States of America
83437    United States of America
83438                      Canada
Name: Country, Length: 29866, dtype: object

In [19]:
filt = df['LanguageHaveWorkedWith'].str.contains("Python", na=False)

In [20]:
df.loc[filt, 'LanguageHaveWorkedWith']

ResponseId
2                                        JavaScript;Python
3                                 Assembly;C;Python;R;Rust
5                           Bash/Shell;HTML/CSS;Python;SQL
6        C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...
10                                              C++;Python
                               ...
83430               HTML/CSS;PHP;PowerShell;Python;SQL;VBA
83431          APL;Clojure;LISP;Python;Ruby;SQL;TypeScript
83432    C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...
83437                                   Groovy;Java;Python
83438                 Bash/Shell;JavaScript;Node.js;Python
Name: LanguageHaveWorkedWith, Length: 39792, dtype: object

### Updating Rows and Columns - Modifying Data Within DataFrames

In [21]:
df.rename(columns={'ConvertedCompYearly': 'SalaryYearly'}, inplace=True)

In [22]:
df['SalaryYearly']

ResponseId
1         62268.0
2             NaN
3             NaN
4             NaN
5             NaN
           ...
83435    160500.0
83436      3960.0
83437     90000.0
83438    816816.0
83439     21168.0
Name: SalaryYearly, Length: 83439, dtype: float64

In [23]:
df['SOAccount'].replace({'Yes': True, 'No': False, 'nan': False, 'NaN': False})

ResponseId
1         True
2         True
3         True
4         True
5         True
         ...
83435    False
83436     True
83437     True
83438     True
83439     True
Name: SOAccount, Length: 83439, dtype: object

In [24]:
df['MainBranch'] = df['MainBranch'].str.upper()
df['MainBranch']

ResponseId
1                           I AM A DEVELOPER BY PROFESSION
2                   I AM A STUDENT WHO IS LEARNING TO CODE
3        I AM NOT PRIMARILY A DEVELOPER, BUT I WRITE CO...
4                           I AM A DEVELOPER BY PROFESSION
5                           I AM A DEVELOPER BY PROFESSION
                               ...
83435                       I AM A DEVELOPER BY PROFESSION
83436                       I AM A DEVELOPER BY PROFESSION
83437                       I AM A DEVELOPER BY PROFESSION
83438                       I AM A DEVELOPER BY PROFESSION
83439                       I AM A DEVELOPER BY PROFESSION
Name: MainBranch, Length: 83439, dtype: object

In [25]:
df['MainBranch'].apply(len)

ResponseId
1        30
2        38
3        77
4        30
5        30
         ..
83435    30
83436    30
83437    30
83438    30
83439    30
Name: MainBranch, Length: 83439, dtype: int64

In [26]:
def lower_mainbranch(mainbranch):
    return mainbranch.lower()
df['MainBranch'] = df['MainBranch'].apply(lower_mainbranch)
df['MainBranch']

ResponseId
1                           i am a developer by profession
2                   i am a student who is learning to code
3        i am not primarily a developer, but i write co...
4                           i am a developer by profession
5                           i am a developer by profession
                               ...
83435                       i am a developer by profession
83436                       i am a developer by profession
83437                       i am a developer by profession
83438                       i am a developer by profession
83439                       i am a developer by profession
Name: MainBranch, Length: 83439, dtype: object

In [27]:
df['MainBranch'] = df['MainBranch'].apply(lambda x: x.upper())
df['MainBranch']

ResponseId
1                           I AM A DEVELOPER BY PROFESSION
2                   I AM A STUDENT WHO IS LEARNING TO CODE
3        I AM NOT PRIMARILY A DEVELOPER, BUT I WRITE CO...
4                           I AM A DEVELOPER BY PROFESSION
5                           I AM A DEVELOPER BY PROFESSION
                               ...
83435                       I AM A DEVELOPER BY PROFESSION
83436                       I AM A DEVELOPER BY PROFESSION
83437                       I AM A DEVELOPER BY PROFESSION
83438                       I AM A DEVELOPER BY PROFESSION
83439                       I AM A DEVELOPER BY PROFESSION
Name: MainBranch, Length: 83439, dtype: object

In [28]:
# apply func, works on each Series
df.apply(len)

MainBranch                      83439
Employment                      83439
Country                         83439
US_State                        83439
UK_Country                      83439
EdLevel                         83439
Age1stCode                      83439
LearnCode                       83439
YearsCode                       83439
YearsCodePro                    83439
DevType                         83439
OrgSize                         83439
Currency                        83439
CompTotal                       83439
CompFreq                        83439
LanguageHaveWorkedWith          83439
LanguageWantToWorkWith          83439
DatabaseHaveWorkedWith          83439
DatabaseWantToWorkWith          83439
PlatformHaveWorkedWith          83439
PlatformWantToWorkWith          83439
WebframeHaveWorkedWith          83439
WebframeWantToWorkWith          83439
MiscTechHaveWorkedWith          83439
MiscTechWantToWorkWith          83439
ToolsTechHaveWorkedWith         83439
ToolsTechWantToWorkWith         83439
NEWCollabToolsHaveWorkedWith    83439
NEWCollabToolsWantToWorkWith    83439
OpSys                           83439
NEWStuck                        83439
NEWSOSites                      83439
SOVisitFreq                     83439
SOAccount                       83439
SOPartFreq                      83439
SOComm                          83439
NEWOtherComms                   83439
Age                             83439
Gender                          83439
Trans                           83439
Sexuality                       83439
Ethnicity                       83439
Accessibility                   83439
MentalHealth                    83439
SurveyLength                    83439
SurveyEase                      83439
SalaryYearly                    83439
dtype: int64

In [29]:
df.apply(len, axis='columns')

ResponseId
1        47
2        47
3        47
4        47
5        47
         ..
83435    47
83436    47
83437    47
83438    47
83439    47
Length: 83439, dtype: int64

In [30]:
len(df['MainBranch'])

83439

In [31]:
df2 = pd.DataFrame([[9, 3, 4], [4, 5, 2], [7, 1, 3], [10, 7, 2]])
df2

    0  1  2
0   9  3  4
1   4  5  2
2   7  1  3
3  10  7  2

In [32]:
df2.apply(pd.Series.min)

0    4
1    1
2    2
dtype: int64

In [33]:
# applymap func, works on each Element, Series dont have applymap func
df2.applymap(lambda x: x*2)

    0   1  2
0  18   6  8
1   8  10  4
2  14   2  6
3  20  14  4

In [34]:
# map func only works on Series
df2[0].map({9:0, 4:0, 7:0})

0    0.0
1    0.0
2    0.0
3    NaN
Name: 0, dtype: float64

In [35]:
df2[0].replace({9:0, 4:0, 7:0})

0     0
1     0
2     0
3    10
Name: 0, dtype: int64

### Add/Remove Rows and Columns From DataFrames

In [36]:
df2[0] + df2[1]

0    12
1     9
2     8
3    17
dtype: int64

In [37]:
df2['0+1'] = df2[0] + df2[1]

In [38]:
df2

    0  1  2  0+1
0   9  3  4   12
1   4  5  2    9
2   7  1  3    8
3  10  7  2   17

In [39]:
df2.drop(columns=[0, 1], inplace=True)

In [40]:
df2[0] = df2['0+1'].astype(str).apply(lambda x: x+'a')
df2.drop(index=3)

   2  0+1    0
0  4   12  12a
1  2    9   9a
2  3    8   8a

### Sorting Data

In [41]:
df2.sort_values(by=2, ascending=False)

   2  0+1    0
0  4   12  12a
2  3    8   8a
1  2    9   9a
3  2   17  17a

In [42]:
df2.sort_values(by=[2, '0+1'], ascending=False)

   2  0+1    0
0  4   12  12a
2  3    8   8a
3  2   17  17a
1  2    9   9a

In [43]:
df2.sort_values(by=[2, '0+1'], ascending=[False, True], inplace=True)
df2

   2  0+1    0
0  4   12  12a
2  3    8   8a
1  2    9   9a
3  2   17  17a

In [44]:
df2.sort_index()

   2  0+1    0
0  4   12  12a
1  2    9   9a
2  3    8   8a
3  2   17  17a

In [45]:
df.sort_values(by=['Country', 'SalaryYearly'], ascending=[True, False], inplace=True)
df[['Country', 'SalaryYearly']]

                Country  SalaryYearly
ResponseId
65400       Afghanistan    30468516.0
22667       Afghanistan      155496.0
27199       Afghanistan       51804.0
31087       Afghanistan       23964.0
44641       Afghanistan       15132.0
...                 ...           ...
75694          Zimbabwe           NaN
76083          Zimbabwe           NaN
79302          Zimbabwe           NaN
80997          Zimbabwe           NaN
82407          Zimbabwe           NaN

[83439 rows x 2 columns]

In [46]:
df['SalaryYearly'].nlargest(10)

ResponseId
66911    45241312.0
65400    30468516.0
40587    21822250.0
28792    20000000.0
12701    19200000.0
9609     17500000.0
5306     15000000.0
12904    14411628.0
66489    12750000.0
7206     12500000.0
Name: SalaryYearly, dtype: float64

In [47]:
df.sort_values(by='SalaryYearly', ascending=False, inplace=True)
df[['SalaryYearly', 'LanguageHaveWorkedWith']].head(10)

            SalaryYearly                             LanguageHaveWorkedWith
ResponseId
66911         45241312.0                                                APL
65400         30468516.0  Bash/Shell;C++;Elixir;LISP;Node.js;Ruby;Rust;S...
40587         21822250.0  Bash/Shell;HTML/CSS;Java;JavaScript;Node.js;Py...
28792         20000000.0  C#;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js...
12701         19200000.0                                         JavaScript
9609          17500000.0  Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...
5306          15000000.0                                             Python
12904         14411628.0                       C#;JavaScript;Node.js;Python
66489         12750000.0  Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...
47564         12500000.0           Go;HTML/CSS;JavaScript;Python;TypeScript

In [48]:
df.nlargest(10, 'SalaryYearly')[['SalaryYearly', 'LanguageHaveWorkedWith']]

            SalaryYearly                             LanguageHaveWorkedWith
ResponseId
66911         45241312.0                                                APL
65400         30468516.0  Bash/Shell;C++;Elixir;LISP;Node.js;Ruby;Rust;S...
40587         21822250.0  Bash/Shell;HTML/CSS;Java;JavaScript;Node.js;Py...
28792         20000000.0  C#;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js...
12701         19200000.0                                         JavaScript
9609          17500000.0  Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...
5306          15000000.0                                             Python
12904         14411628.0                       C#;JavaScript;Node.js;Python
66489         12750000.0  Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...
47564         12500000.0           Go;HTML/CSS;JavaScript;Python;TypeScript

### Grouping and Aggregating - Analyzing and Exploring Your Data

In [49]:
df['SalaryYearly'].median()

56211.0

In [50]:
df[['CompTotal', 'SalaryYearly']].median()

CompTotal       67000.0
SalaryYearly    56211.0
dtype: float64

In [51]:
df.describe()

          CompTotal  SalaryYearly
count  4.718300e+04  4.684400e+04
mean   2.119407e+69  1.184262e+05
std    4.603702e+71  5.272944e+05
min    0.000000e+00  1.000000e+00
25%    1.600000e+04  2.702500e+04
50%    6.700000e+04  5.621100e+04
75%    1.400000e+05  1.000000e+05
max    1.000000e+74  4.524131e+07

In [52]:
df['DatabaseHaveWorkedWith'].count()

69546

In [53]:
df['DatabaseHaveWorkedWith'].value_counts().head(5)

MySQL                   4777
Microsoft SQL Server    3823
PostgreSQL              3537
SQLite                  2191
MongoDB                 1656
Name: DatabaseHaveWorkedWith, dtype: int64

In [54]:
df['Country'].value_counts(normalize=True).head(20)

United States of America                                0.183224
India                                                   0.125972
Germany                                                 0.067415
United Kingdom of Great Britain and Northern Ireland    0.053632
Canada                                                  0.036098
France                                                  0.032455
Brazil                                                  0.027014
Poland                                                  0.021633
Netherlands                                             0.021237
Italy                                                   0.019967
Australia                                               0.019727
Spain                                                   0.017797
Russian Federation                                      0.017666
Sweden                                                  0.014334
China                                                   0.012644
Turkey                                                  0.012632
Switzerland                                             0.011050
Israel                                                  0.010942
Iran, Islamic Republic of...                            0.010786
Pakistan                                                0.010043
Name: Country, dtype: float64

In [55]:
country_grp = df.groupby(['Country'])

In [56]:
country_grp.get_group('United States of America')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
40587,I AM A DEVELOPER BY PROFESSION,Employed full-time,United States of America,California,NaN,Some college/university study without earning ...,Younger than 5 years,"Other online resources (ex: videos, blogs, etc...",37,13,Other (please specify):,"10,000 or more employees",USD\tUnited States dollar,436445.0,Weekly,Bash/Shell;HTML/CSS;Java;JavaScript;Node.js;Py...,Bash/Shell;Haskell;HTML/CSS;Java;JavaScript;No...,MariaDB;MySQL;SQLite,MariaDB;MySQL;SQLite,Microsoft Azure,Microsoft Azure,Flask,Express;Flask;React.js;Svelte,NaN,NaN,Git,Docker;Git,IntelliJ;Visual Studio Code,IntelliJ;Visual Studio;Visual Studio Code,MacOS,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",Yes,35-44 years old,Man,No,Bisexual,White or of European descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,21822250.0
9609,"I AM NOT PRIMARILY A DEVELOPER, BUT I WRITE CO...",Employed full-time,United States of America,New York,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,25,21,"Senior Executive (C-Suite, VP, etc.)",20 to 99 employees,USD\tUnited States dollar,350000.0,Weekly,Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...,NaN,Elasticsearch;IBM DB2;MariaDB;MongoDB;MySQL;Or...,NaN,AWS;DigitalOcean,NaN,Angular;jQuery;Spring,NaN,NaN,NaN,Git;Kubernetes,NaN,Android Studio;IntelliJ;Notepad++;PHPStorm;Vim...,NaN,Windows,Call a coworker or friend;Google it,Stack Overflow,Less than once per month or monthly,No,NaN,Neutral,Yes,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,17500000.0
5306,I AM A DEVELOPER BY PROFESSION,"Independent contractor, freelancer, or self-em...",United States of America,New Jersey,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,Friend or family member;Books / Physical media,25,5,"Developer, full-stack;DevOps specialist","Just me - I am a freelancer, sole proprietor, ...",USD\tUnited States dollar,300000.0,Weekly,Python,Python;Rust;SQL,NaN,NaN,AWS;Google Cloud Platform,NaN,Flask,Django,NaN,NaN,Ansible;Docker;Git;Terraform,Docker;Git,Vim,Vim,Linux-based,Other (please specify):,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,35-44 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Easy,15000000.0
66489,I AM A DEVELOPER BY PROFESSION,Employed full-time,United States of America,Washington,NaN,Some college/university study without earning ...,18 - 24 years,School;Online Courses or Certification;Books /...,5,3,"Developer, desktop or enterprise applications;...",20 to 99 employees,USD\tUnited States dollar,255000.0,Weekly,Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...,Node.js;SQL;TypeScript,DynamoDB;Elasticsearch;Firebase;MySQL;PostgreS...,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,Express;React.js;Spring,Express;React.js,NumPy;Pandas,NumPy;Pandas,Docker;Git;Yarn,Git,Atom;IntelliJ;PyCharm;Sublime Text;Visual Stud...,Visual Studio Code,MacOS,Call a coworker or friend;Google it;Meditate,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Appropriate in length,Easy,12750000.0
47564,I AM A DEVELOPER BY PROFESSION,Employed full-time,United States of America,Colorado,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,24,13,"Developer, front-end","10,000 or more employees",USD\tUnited States dollar,250000.0,Weekly,Go;HTML/CSS;JavaScript;Python;TypeScript,HTML/CSS;JavaScript;Python;Rust;TypeScript,PostgreSQL,PostgreSQL,AWS,NaN,React.js;Vue.js,React.js;Vue.js,NaN,NaN,Docker;Git;Kubernetes;Yarn,Git;Yarn,Visual Studio Code,Visual Studio Code,MacOS,Go for a walk or other physical activity;Googl...,Stack Overflow,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,Neutral,No,35-44 years old,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,12500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83401,I AM A DEVELOPER BY PROFESSION,"Independent contractor, freelancer, or self-em...",United States of America,Indiana,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",17,14,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",USD\tUnited States dollar,NaN,NaN,Elixir;HTML/CSS;JavaScript;Ruby;TypeScript,Elixir;HTML/CSS,Elasticsearch;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,NaN,React.js;Ruby on Rails,React.js,React Native,NaN,Docker;Git;Yarn,Docker,Android Studio;Visual Studio Code;Xcode,Visual Studio Code,Linux-based,Go for a walk or other physical activity;Googl...,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,35-44 years old,Man,No,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
83413,I AM A DEVELOPER BY PROFESSION,"Independent contractor, freelancer, or self-em...",United States of America,Oregon,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",37,32,"Developer, mobile;Developer, front-end;Develop...",20 to 99 employees,USD\tUnited States dollar,NaN,NaN,Bash/Shell;Clojure;HTML/CSS;Java;JavaScript;Ko...,Clojure,DynamoDB;Elasticsearch;PostgreSQL;Redis,Elasticsearch;PostgreSQL;Redis,AWS,AWS,React.js,React.js,React Native,NaN,Docker;Git;Terraform;Yarn,Docker;Git;Yarn,Android Studio;Emacs;IntelliJ;Neovim;Vim;Xcode,IntelliJ;Vim,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,NaN,NaN,Too long,Easy,NaN
83415,I CODE PRIMARILY AS A HOBBY,"Student, full-time",United States of America,Maryland,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Coding Bootcamp;Other online resources (ex: vi...,2,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Python,Assembly;Go;Julia;Rust;SQL,MongoDB;SQLite,MongoDB,Heroku,NaN,Flask,Django;Flask,NaN,NaN,NaN,NaN,PyCharm,PyCharm;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow,A few times per month or weekly,Not sure/can't remember,NaN,"No, not really",Yes,Under 18 years old,Man,No,Prefer not to say,South Asian,None of the above,I have an anxiety disorder,Too long,Neither easy nor difficult,NaN
83427,I AM A DEVELOPER BY PROFESSION,Employed full-time,United States of America,Nebraska,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",11,2,"Developer, front-end;Developer, desktop or ent...",500 to 999 employees,USD\tUnited States dollar,NaN,NaN,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL,Bash/Shell;Java;JavaScript;Python;SQL,Microsoft SQL Server;MySQL;Oracle;SQLite,MySQL;SQLite,AWS,NaN,Django;Flask;jQuery;Spring,Django;Flask,NumPy,NumPy,Git,Docker;Git;Unity 3D,Eclipse;NetBeans;Vim;Visual Studio,NetBeans;Vim,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,Neutral,No,18-24 years old,Man,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
83430,I CODE PRIMARILY AS A HOBBY,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN

In [57]:
filt = df['Country'] == 'China'
df.loc[filt]['Age1stCode'].value_counts()

18 - 24 years           374
11 - 17 years           252
5 - 10 years            177
Younger than 5 years    110
25 - 34 years            85
35 - 44 years            19
45 - 54 years             7
55 - 64 years             3
Older than 64 years       1
Name: Age1stCode, dtype: int64

In [58]:
country_grp['Age1stCode'].value_counts()

Country      Age1stCode
Afghanistan  18 - 24 years           19
             Younger than 5 years    13
             11 - 17 years           12
             5 - 10 years             7
             25 - 34 years            4
                                     ..
Zimbabwe     11 - 17 years            9
             25 - 34 years            5
             5 - 10 years             2
             35 - 44 years            1
             Older than 64 years      1
Name: Age1stCode, Length: 992, dtype: int64

In [59]:
country_grp['Age1stCode'].value_counts().loc['China']

Age1stCode
18 - 24 years           374
11 - 17 years           252
5 - 10 years            177
Younger than 5 years    110
25 - 34 years            85
35 - 44 years            19
45 - 54 years             7
55 - 64 years             3
Older than 64 years       1
Name: Age1stCode, dtype: int64

In [60]:
country_grp['SalaryYearly'].median().loc['China']

34296.0

In [61]:
country_grp['SalaryYearly'].agg(['median', 'mean']).loc['United States of America']

median    125000.00000
mean      262993.89848
Name: United States of America, dtype: float64

In [62]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

5233

In [63]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [64]:
# what % of people from each country know python
country_respondents = df['Country'].value_counts().sort_index()
# country_respondents
know_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

know_python/country_respondents

Country
Afghanistan                             0.307692
Albania                                 0.410959
Algeria                                 0.413043
Andorra                                 0.333333
Angola                                  0.185185
                                          ...
Venezuela, Bolivarian Republic of...    0.413462
Viet Nam                                0.448187
Yemen                                   0.300000
Zambia                                  0.545455
Zimbabwe                                0.472222
Length: 181, dtype: float64

In [65]:
python_df = pd.concat([country_respondents, know_python], axis='columns', sort=False)
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageHaveWorkedWith': 'NumKnowsPython'}, inplace=True)
python_df

                                      NumRespondents  NumKnowsPython
Afghanistan                                       65              20
Albania                                           73              30
Algeria                                           46              19
Andorra                                           12               4
Angola                                            27               5
...                                              ...             ...
Venezuela, Bolivarian Republic of...             104              43
Viet Nam                                         386             173
Yemen                                             20               6
Zambia                                            22              12
Zimbabwe                                          36              17

[181 rows x 2 columns]

In [66]:
python_df['PctKnownsPython'] = python_df['NumKnowsPython'] / python_df['NumRespondents'] * 100
python_df

,NumRespondents,NumKnowsPython,PctKnownsPython
Afghanistan,65,20,30.769231
Albania,73,30,41.095890
Algeria,46,19,41.304348
Andorra,12,4,33.333333
Angola,27,5,18.518519
...,...,...,...
"Venezuela, Bolivarian Republic of...",104,43,41.346154
Viet Nam,386,173,44.818653
Yemen,20,6,30.000000
Zambia,22,12,54.545455
Zimbabwe,36,17,47.222222

In [67]:
python_df.sort_values(by='PctKnownsPython', ascending=False).head(20)

                   NumRespondents  NumKnowsPython  PctKnownsPython
Tuvalu                          1               1       100.000000
Sierra Leone                    2               2       100.000000
Brunei Darussalam               1               1       100.000000
Dominica                        1               1       100.000000
Liechtenstein                   1               1       100.000000
Burundi                         5               4        80.000000
Namibia                        12               9        75.000000
Burkina Faso                    4               3        75.000000
Bahamas                         7               5        71.428571
Qatar                          29              20        68.965517
Liberia                         3               2        66.666667
Saint Lucia                     3               2        66.666667
Cuba                           34              22        64.705882
Iceland                        43              27        62.790698
Isle of Man                     5               3        60.000000
Haiti                           5               3        60.000000
Belize                          5               3        60.000000
Bhutan                          5               3        60.000000
Singapore                     339             203        59.882006
Republic of Korea              54              31        57.407407

In [68]:
python_df.loc['Japan']

NumRespondents     429.000000
NumKnowsPython     209.000000
PctKnownsPython     48.717949
Name: Japan, dtype: float64

### Cleaning Data - Casting Datatypes and Handling Missing Values

In [69]:
df['YearsCode'].head(10)

ResponseId
66911     1
65400     7
40587    37
28792    11
12701     5
9609     25
5306     25
12904     6
66489     5
47564    24
Name: YearsCode, dtype: object

In [70]:
# df['YearsCode'].mean()
# df['YearsCode'] = df['YearsCode'].astype(float)
df['YearsCode'].unique()

array(['1', '7', '37', '11', '5', '25', '6', '24', '30', '28', '13', '35',
       '20', '33', '12', nan, '14', '38', '17', '8', '16', '10', '15',
       '22', '9', '4', '21', '32', '19', '26', '18', '45', '3', '31',
       '23', 'Less than 1 year', '2', '36', '27', '39', '46', '44', '34',
       '43', '40', '29', 'More than 50 years', '41', '47', '50', '42',
       '49', '48'], dtype=object)

In [71]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [72]:
df['YearsCode'] = df['YearsCode'].astype(float)
df['YearsCode'].mean()

12.338200169032717